* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    background-color: white ;
    color: black;
    font-family: 'Sono', sans-serif;
    font-size: 20px;
  }


section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    position: relative;
  }
 
#section-intro {
    background-color: black !important;
}

#big-scissor {
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    filter: invert(1);
}

.tiny-scissor {
    top: -22% !important;
    left: 35.08% !important;
    transform: scale(0.2) translate(-35.08%, -22%) !important;
    transition: all 1.25s ease;
    filter: invert(0) !important;
}

#moma-left {
    width: 200px;
    height: auto;
    top: 75%;
    left: 35%;
    transform: translate(-35%, -75%);
    position: fixed; /* da cambiare in fixed che poi sparirà opacity:0 */
    filter: invert(1);
}

.moma-animated {
    width: 150px !important; 
    top: 5% !important;
    left: 20% !important;
    transform: rotate(60deg) translate(-20%, -5%) !important;
    filter: invert(0) !important;
    transition: all 1.25s ease;
}

#tate-right {
    width: 210px;
    height: auto;
    top: 75%;
    left: 66%;
    transform: translate(-66%, -75%);
    position: fixed;
    filter: invert(1);
}

.tate-animated {
    width: 150px !important;
    top: -13% !important;
    left: 75% !important;
    transform: rotate(300deg) translate(-75%, -13%) !important;
    filter: invert(0) !important;
    transition: all 1.25s ease;
} 

#dott-line {
    width: 5px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    opacity: 0;
    filter: blur(4px);
}

.dott-line-animated {
    opacity: 1 !important;
    transition: all 1.25s ease;
    filter: blur(0) !important;
}

#text-left {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 10%;
    transform: translate(-10%, -35%);
}

#text-right {
    position: absolute;
    text-align: right;
    width: 30%;
    top: 35%;
    left: 90%;
    transform: translate(-90%, -35%);

}